header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.buttons {
  margin-top: 1rem;
  /* margin-top: 2.5rem; */
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header__socials::after {
  content: " ";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 12rem 12rem 0 0; */
  /* background: linear-gradient(var(--color-primary), transparent); */
}
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0, 9rem;
}
h4 {
  color: var(--color-primary);
}

#flip {
  /* height: 50px; */
  height: 60px;
  overflow: hidden;
}

#flip > div > div {
  color: var(--color-bg-variant);
  padding: 4px 12px;
  /* height: 45px; */
  height: 60px;
  font-size: 1.5rem;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
